@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto&display=swap');

body{
	margin: 0;
	padding: 0;
	height: 100vh;
}

.navigator{
    
    width: 95%;
    height: 50px;
    background: #f78fb3;
   	line-height: 40px;
    border-radius: 30px;
    margin: -100px 0px 0px 30px;
}

ul{
	list-style: none;
	justify-content: center;
	text-align: center;
}

ul li {
	float: left;
	color: white;
	padding: 5px;
	margin-left: 70px;
	
}

ul li a {
	text-decoration: none;
	display: block;
	font-size: 14px;
	color: white;
	font-family: 'Bebas Neue';
	margin-left: 30px;
	letter-spacing: 1px;
}

.uic_school_logo{
	width: 100px;
	height: 100px;
	margin: 5px 0px 0px 60px;
	position: static;
}

.search{
	border-radius: 30px;
	outline: none;
	border: 0;
	height: 30px;
	padding-left: 8px;
}

.account{
	float: right;
	margin-right: 20px;
}

.container{
	background-color: black;
	width: 100%;
	height: 80%;
	display: flex;

}

.col1{
	background-color: white;
	width: 75%;
	height: 100%;
	justify-content: center;
	text-align: center;
	
}

.centerBg {
	width: 1000px;
	height: 500px;
}

.col2{
	background-color: white;
	width: 25%;
	height: 100%;
	justify-content: center;
	align-items: center;
	
}

.box{
	width: 250px;
	height: 400px;
	background-color: #e6ecf0;
	margin-left: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.32);
	justify-content: center;
	text-align: center;
	
	padding: 10px;
	
}

p{
	font-family: 'Roboto';	
}

.unboldTxt{
	font-size: 14px;
	font-family: 'Roboto';
	color: #4c4c4c;
}
.boldTxt{
	font-family: 'Roboto';
	color: #4c4c4c;
	font-weight: 1000;
	font-size: 25px;
}

.button{
	background-color:#f78fb3;
	color: white;
    padding: 14px 40px;
    border-radius: 40px;
    outline: none;
    border: 0;
}


.centerTxt1 {
	position: absolute;
	top: 30%;
	left: 25%;
	transform: translate(-50%, -50%);
  }

  .welcome{
	color: #f78fb3;
	font-size: 50px;
	font-weight: bolder;
  }

  .centerTxt2 {
	position: absolute;
	top: 30.5%;
	left: 37%;
	transform: translate(-50%, -50%);
  }

  .to{
	color: #f78fb3;
	font-size: 35px;
	font-weight: bolder;
  }

  .centerTxt3 {
	position: absolute;
	top: 45%;
	left: 30%;
	transform: translate(-50%, -50%);
  }

  .IC{
	color: #f78fb3;
	font-size: 50px;
	font-weight: bolder;
	text-shadow: 2px 2px 4px black;
	;
  }


